/* body {
  display: flex;
  justify-content: center;
  height: 100%;
} */

.about-me {
  display: flex;
  text-align: left;
  justify-content: center;

  margin-top: 20%;
}

.about-me-photo {
  display: inline-block;
  border-radius: 100%;
  height: 100px;
  width: 100px;
  border: 2px solid black;
  margin-right: 20px;
  text-align: center;
}

.about-me-title {
  display: flex;
  flex-direction: column;
}

.about-me-title h2 {
  display: flex;
  margin: 0;
  color: white;
}

.about-me-content {
  margin-top: 10px;
  margin-left: 0;
  color: darkgray;
}

.about-me-photo img {
  height: 100px;
  width: 100px;
  border-radius: 100%;
}

.about-me-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.about-me-buttons a {
  padding: 0.5rem;
  color: gray;
}

.about-me-buttons button {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 10px;
  font-size: 14px;
  font-weight: bold;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
.about-me-buttons button:hover {
  box-shadow: 0 12px 16px 0 #00000000, 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.about-me-buttons p {
  color: gray;
  margin-left: 1rem;
}
