.project h2 {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  letter-spacing: 3px;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: 200;
  line-height: 20px;
  color: white;
  margin-top: 38vh;
}
