.carousel-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.hero-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.social-container {
  margin-right: 20px; /* Add some spacing between the sections */
}
